<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Runner</title>
</head>
<body>

<h1>Update Runner</h1>

<form th:action="@{/runner/update/{idru}(idru=${runner.idru})}" 
      th:object="${runner}" 
      method="post">

    <input type="hidden" th:field="*{idru}">

    Name:
    <input type="text" th:field="*{name}">
    
    Surname:
    <input type="text" th:field="*{surname}">

    <button type="submit">Update Runner</button>

</form>

<br>

<a th:href="@{/runner/all}">
    Back To All Runners
</a>

</body>
</html>